
<h1>About Canvas Cacophony</h1>





<h1>About our team</h1>
<div class="list-group">
  <a href="#" class="list-group-item ">
    <h4 class="list-group-item-heading">Jason Schattschneider</h4>
    <p class="list-group-item-text">Major: Computer Engineering</p>

  </a>

  <div class="list-group">
    <a href="#" class="list-group-item ">
      <h4 class="list-group-item-heading">Tanner Barret</h4>
      <p class="list-group-item-text">Major: Computer Science</p>

    </a>

    <div class="list-group">
      <a href="#" class="list-group-item ">
        <h4 class="list-group-item-heading">Austin Borth</h4>
        <p class="list-group-item-text">Major: Computer Science</p>

      </a>

      <div class="list-group">
        <a href="#" class="list-group-item ">
          <h4 class="list-group-item-heading">Cade Nash</h4>
          <p class="list-group-item-text">Major: Computer Engineering</p>

        </a>

        <div class="list-group">
          <a href="#" class="list-group-item ">
            <h4 class="list-group-item-heading">Chris something</h4>
            <p class="list-group-item-text">Major: Computer Science</p>

          </a>

          <div class="list-group">
            <a href="#" class="list-group-item ">
              <h4 class="list-group-item-heading">Ash</h4>
              <p class="list-group-item-text">Major: Computer Science</p>

            </a>


</div>




