
<div class="container">
  <div class="row">
    <div class="col-md-4,col-xs-6">
    <img src="logos/canvas.png">
  </div>

</div>




<div class="jumbotron">
  <h1>Welcome to Canvas Cacophony!</h1>
  <p>A simple way to interact with Canvas and Discord!</p>



  <p><a class="btn btn-primary btn-lg" <%= link_to "See our about us page", welcome_about_path %></a></p>
  <p><a class="btn btn-primary btn-lg" <%= link_to "See list of commands for bot here!", welcome_commands_path %></a></p>
</div>





